<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New Food</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Add a New Food Item</h1>
    <form action="/users/<%= user._id %>/foods" method="POST">
       
        <label for="name">Food Name:</label>
        <input type="text" id="name" name="name" required>

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

        <button type="submit">Add Food</button>
    </form>
    <a href="/users/<%= user._id %>/foods">Back to Foods List</a>
</body>
</html>